.caixa {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: yellow;
}

/* 
tbody {
} */
/* .caixa {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.caixa-interna {
  ;
  border-collapse: collapse;
  margin: 0 auto;
}
.caixa {
  border: 1px solid black;
  margin: 10px;
}
th,
td {
  border: 1px solid black;
} */
