body {
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
/*button {
  cursor: pointer;
}*/
table {
  margin: auto;
}
th,
td {
  padding: 6px;
} /*even-> par odd-> ímpar*/
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr:hover {
  font-weight: bold;
  cursor: default; /*para o cursor não mudar*/
}
.title {
  color: darkred;
}
.autor {
  text-align: left;
  font-style: italic;
}
